%html
  %head
    %title My Resume a Personal Category Flat Bootstrap Responsive Website Template | Home :: w3layouts
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "My Resume Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, \n\tSmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design", :name => "keywords"}/
    %script{:type => "application/x-javascript"}
      :cdata
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }
    %link{:href => "/assets/bootstrap.css", :media => "all", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "/assets/style.css", :media => "all", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "/assets/swipebox.css", :rel => "stylesheet"}/
    %script{:src => "/assets/jquery-1.11.1.min.js"}
    %link{:href => "//fonts.googleapis.com/css?family=Overlock:400,400italic,700,700italic,900,900italic", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "//fonts.googleapis.com/css?family=Roboto+Condensed:400,300,300italic,400italic,700,700italic", :rel => "stylesheet", :type => "text/css"}/
    %script{:src => "/assets/move-top.js", :type => "text/javascript"}
    %script{:src => "/assets/easing.js", :type => "text/javascript"}
    :javascript
      jQuery(document).ready(function($) {
      	$(".scroll").click(function(event){		
      		event.preventDefault();
      		$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
      	});
      });
  %body
    #home.banner
      .banner-info
        .container
          .col-md-3.header-left
            %img{:alt => "", :src => "/assets/img1.jpg"}/
          .col-md-9.header-right
            %h2 Hello
            %h1 I'm Kalyani Dhamdhere	
            %h6 Ruby On Rails Developer
            %ul.address
              %li
                %ul.address-text
                  %li
                    %b D.O.B
                  %li 24th March, 1993
              %li
                %ul.address-text
                  %li
                    %b E-MAIL
                  %li
                    %a{:href => "mailto:example@mail.com"} kalyani.d2404@gmail.com
              %li
                %ul.address-text
                  %li
                    %b WEBSITE
                  %li
                    %a{:href => "http://w3layouts.com"} www.myresume.com
          .clearfix
    .top-nav.wow
      .container
        .navbar-header.logo
          %button.navbar-toggle.collapsed{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
            Menu
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          .menu
            %ul.nav.navbar
              %li
                %a.scroll{:href => "#about"} About
              %li
                %a.scroll{:href => "#work"} Experience
              %li
                %a.scroll{:href => "#education"} Education
              %li
                %a.scroll{:href => "#skills"} Skills
              %li
                %a.scroll{:href => "#projects"} My Projects
              %li
                %a.scroll{:href => "#contact"} Contact
            .clearfix
    #about.about
      .container
        %h3.title About Me
        .col-md-7.about-left
          %p
            I'm Kalyani Dhamdhere from Talegaon Dhamdhere(Pune). I'm 23 years old. I have completed my graduation B.E.(IT) from Pune University.I have total 1.8 years experience in the Ruby on Rails. I started my career as an Junoir Trainee in the Axenic Tecnologies for the period of FEB 2015 to OCT 2015. 
            For better opportunities, I have joined Birdvision Consulting Pvt, Ltd in NOV 2015 and working to till date. Now I'm working as a Junior Techical Analyst.
          %p About my family, My family has 4 members. My father,my mother, my brother and me. My Father is a farmer and brother have completed MBA (Marketing) from Pune University.
          %p  I have good communication skills. I know Hindi, Marathi and English. I look forward to learn new thinks and own it.
        .col-md-5.about-right
          %ul
            %h5 Key Success Factors
            %li
              %span.glyphicon.glyphicon-menu-right
              Good analytical and programming skills.
            %li
              %span.glyphicon.glyphicon-menu-right
              Problem Solving
            %li
              %span.glyphicon.glyphicon-menu-right
              Hard Working
            %li
              %span.glyphicon.glyphicon-menu-right
              Positive Thinking
            %li
              %span.glyphicon.glyphicon-menu-right
              Punctuated
          .clearfix
        .clearfix
    #work.work
      .container
        %h3.title Work Experience
        .work-info
          .col-md-6.work-left
            %h4 Nov 2016 - Present
          .col-md-6.work-right
            %h5
              %span.glyphicon.glyphicon-briefcase
              Birdvision Consulting Pvt. Ltd.
            .text-justify
              %p Started working as Junior Tecnical Analyst from Nov 2015.Worked on 2 projects from Nov 2016 to till date.Worked on CEM-Contest & Compaigns and Adzfone.
              %p ADZFONE - Sign up and link Business Phones to Adzfone.Let Adzfone know when customers call you.Adzfone delivers digital brochure to your customers with more offers, content, easy contactablity across any media
              %p CEM-Contest & Compaign - Empowers your customers to do your marketing for you. Just create a contest that encompasses multiple marketing channel and trigger an exponential increase in your fan base.
            
          .clearfix
        .work-info
          .col-md-6.work-right.work-right2
            %h4 Feb 2015 - Oct 2015
          .col-md-6.work-left.work-left2
            %h5
              Axenic Technologies Pvt. Ltd.
              %span.glyphicon.glyphicon-briefcase
            .text-justify
              %p Started working as a Junior Tainee and then worked as Junior ROR Developer.
              %p E-Commerce site for Hospitals - This fully-featured eCommerce system allows you to promote and sell your products online.
              %p Recruitify - This recruitify system build candidate confidence and let them know what companies want exactly. So that candidate can prepare himself/herself in that way. 
              %p Enterprise Resource Planning(ERP) -  This works with the role based access rights to different users , there are number of logins i.e. SuperAdmin, Students, Teachers, Colleges, and Parents.
          .clearfix
    #education.education
      .container
        %h3.title Education
        .work-info
          .col-md-6.work-left
            %h4 Bachelor Degree - 2014
          .col-md-6.work-right
            %h5
              %span.glyphicon.glyphicon-education
              Pune University
            %p I have completed BE from G. H. Raisoni Collage of Engineering and Management (Pune University) with distinction.
          .clearfix
        .work-info
          .col-md-6.work-right.work-right2
            %h4 HSC - 2010
          .col-md-6.work-left.work-left2
            %h5
              Maharashtra Board
              %span.glyphicon.glyphicon-education
            %p I have completed HSC from S. S. Raikumar B. Gujar Prashala and got 61.12% in HSC examination.
          .clearfix
        .work-info
          .col-md-6.work-left
            %h4 SSC - 2008
          .col-md-6.work-right
            %h5
              %span.glyphicon.glyphicon-education
              Maharashtra Board
            %p I have completed SSC from S. S. Raikumar B. Gujar Prashala and got 70.92% in SSC examination.
          .clearfix
    #skills.skills
      .container
        %h3.title Skills
        .skills-info
          .col-md-6.bar-grids
            %h6
              Ruby on Rails
              %span 75%
            .progress
              .progress-bar.progress-bar-striped.active{:style => "width: 75%"}
            %h6
              UI DESIGN &amp; DEVELOPER
              %span 50%
            .progress
              .progress-bar.progress-bar-striped.active{:style => "width: 50%"}
            %h6
              HTML/CSS
              %span 70%
            .progress
              .progress-bar.progress-bar-striped.active{:style => "width: 70%"}
          .col-md-6.bar-grids
            %h6
              JAVASCRIPT
              %span 65%
            .progress
              .progress-bar.progress-bar-striped.active{:style => "width: 65%"}
            %h6
              Git &amp; Heroku
              %span 50%
            .progress
              .progress-bar.progress-bar-striped.active{:style => "width: 50%"}
            %h6
              TWITTER BOOTSTRAP
              %span 80%
            .progress
              .progress-bar.progress-bar-striped.active{:style => "width: 80%"}
          .clearfix
    #projects.portfolio
      .container
        %h3.title.wow.zoomInLeft.animated{"data-wow-delay" => ".5s"} My Projects
        .sap_tabs
          #horizontalTab{:style => "display: block; width: 100%; margin: 0px;"}
            %ul.resp-tabs-list.wow.fadeInUp.animated{"data-wow-delay" => ".7s"}
              %li.resp-tab-item
                %span All
              %li.resp-tab-item
                %span Html
              %li.resp-tab-item
                %span Photoshop
              %li.resp-tab-item
                %span Wordpress
            .clearfix
            .resp-tabs-container
              .tab-1.resp-tab-content
                .tab_img
                  .col-md-4.portfolio-grids
                    .grid
                      %a.swipebox{:href => "/assets/img1.jpg", :title => "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis maximus tortor diam, ac lobortis justo rutrum quis. Praesent non purus fermentum, eleifend velit non"}
                        %img.img-responsive{:alt => "", :src => "/assets/img1.jpg"}/
                        .figcaption
                          %h3
                            My
                            %span Project
                          %p Sarah likes to watch clouds. She's quite depressed.
                  .col-md-4.portfolio-grids
                    .grid.effect-sarah
                      %a.swipebox{:href => "/assets/img1.jpg", :title => "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis maximus tortor diam, ac lobortis justo rutrum quis. Praesent non purus fermentum, eleifend velit non"}
                        %img.img-responsive{:alt => "", :src => "/assets/img1.jpg"}/
                        .figcaption
                          %h3
                            My
                            %span Project
                          %p Sarah likes to watch clouds. She's quite depressed.
                  .col-md-4.portfolio-grids
                    .grid
                      %a.swipebox{:href => "/assets/img1.jpg", :title => "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis maximus tortor diam, ac lobortis justo rutrum quis. Praesent non purus fermentum, eleifend velit non"}
                        %img.img-responsive{:alt => "", :src => "/assets/img1.jpg"}/
                        .figcaption
                          %h3
                            My
                            %span Project
                          %p Sarah likes to watch clouds. She's quite depressed.
                  .col-md-4.portfolio-grids
                    .grid
                      %a.swipebox{:href => "/assets/img1.jpg", :title => "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis maximus tortor diam, ac lobortis justo rutrum quis. Praesent non purus fermentum, eleifend velit non"}
                        %img.img-responsive{:alt => "", :src => "/assets/img1.jpg"}/
                        .figcaption
                          %h3
                            My
                            %span Project
                          %p Sarah likes to watch clouds. She's quite depressed.
                  .col-md-4.portfolio-grids
                    .grid
                      %a.swipebox{:href => "/assets/img1.jpg", :title => "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis maximus tortor diam, ac lobortis justo rutrum quis. Praesent non purus fermentum, eleifend velit non"}
                        %img.img-responsive{:alt => "", :src => "/assets/img1.jpg"}/
                        .figcaption
                          %h3
                            My
                            %span Project
                          %p Sarah likes to watch clouds. She's quite depressed.
                  .col-md-4.portfolio-grids
                    .grid
                      %a.swipebox{:href => "/assets/img1.jpg", :title => "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis maximus tortor diam, ac lobortis justo rutrum quis. Praesent non purus fermentum, eleifend velit non"}
                        %img.img-responsive{:alt => "", :src => "/assets/img1.jpg"}/
                        .figcaption
                          %h3
                            My
                            %span Project
                          %p Sarah likes to watch clouds. She's quite depressed.
                  .col-md-4.portfolio-grids
                    .grid
                      %a.swipebox{:href => "/assets/img1.jpg", :title => "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis maximus tortor diam, ac lobortis justo rutrum quis. Praesent non purus fermentum, eleifend velit non"}
                        %img.img-responsive{:alt => "", :src => "/assets/img1.jpg"}/
                        .figcaption
                          %h3
                            My
                            %span Project
                          %p Sarah likes to watch clouds. She's quite depressed.
                  .col-md-4.portfolio-grids
                    .grid
                      %a.swipebox{:href => "/assets/img1.jpg", :title => "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis maximus tortor diam, ac lobortis justo rutrum quis. Praesent non purus fermentum, eleifend velit non"}
                        %img.img-responsive{:alt => "", :src => "/assets/img1.jpg"}/
                        .figcaption
                          %h3
                            My
                            %span Project
                          %p Sarah likes to watch clouds. She's quite depressed.
                  .col-md-4.portfolio-grids
                    .grid
                      %a.swipebox{:href => "/assets/img1.jpg", :title => "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis maximus tortor diam, ac lobortis justo rutrum quis. Praesent non purus fermentum, eleifend velit non"}
                        %img.img-responsive{:alt => "", :src => "/assets/img1.jpg"}/
                        .figcaption
                          %h3
                            My
                            %span Project
                          %p Sarah likes to watch clouds. She's quite depressed.
                  .clearfix
              .tab-1.resp-tab-content
                .tab_img
                  .col-md-4.portfolio-grids
                    .grid
                      %a.swipebox{:href => "/assets/img1.jpg", :title => "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis maximus tortor diam, ac lobortis justo rutrum quis. Praesent non purus fermentum, eleifend velit non"}
                        %img.img-responsive{:alt => "", :src => "/assets/img1.jpg"}/
                        .figcaption
                          %h3
                            My
                            %span Project
                          %p Sarah likes to watch clouds. She's quite depressed.
                  .col-md-4.portfolio-grids
                    .grid
                      %a.swipebox{:href => "/assets/img1.jpg", :title => "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis maximus tortor diam, ac lobortis justo rutrum quis. Praesent non purus fermentum, eleifend velit non"}
                        %img.img-responsive{:alt => "", :src => "/assets/img1.jpg"}/
                        .figcaption
                          %h3
                            My
                            %span Project
                          %p Sarah likes to watch clouds. She's quite depressed.
                  .col-md-4.portfolio-grids
                    .grid
                      %a.swipebox{:href => "/assets/img1.jpg", :title => "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis maximus tortor diam, ac lobortis justo rutrum quis. Praesent non purus fermentum, eleifend velit non"}
                        %img.img-responsive{:alt => "", :src => "/assets/img1.jpg"}/
                        .figcaption
                          %h3
                            My
                            %span Project
                          %p Sarah likes to watch clouds. She's quite depressed.
                  .clearfix
              .tab-1.resp-tab-content
                .tab_img
                  .col-md-4.portfolio-grids
                    .grid
                      %a.swipebox{:href => "/assets/img1.jpg", :title => "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis maximus tortor diam, ac lobortis justo rutrum quis. Praesent non purus fermentum, eleifend velit non"}
                        %img.img-responsive{:alt => "", :src => "/assets/img1.jpg"}/
                        .figcaption
                          %h3
                            My
                            %span Project
                          %p Sarah likes to watch clouds. She's quite depressed.
                  .col-md-4.portfolio-grids
                    .grid
                      %a.swipebox{:href => "/assets/img1.jpg", :title => "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis maximus tortor diam, ac lobortis justo rutrum quis. Praesent non purus fermentum, eleifend velit non"}
                        %img.img-responsive{:alt => "", :src => "/assets/img1.jpg"}/
                        .figcaption
                          %h3
                            My
                            %span Project
                          %p Sarah likes to watch clouds. She's quite depressed.
                  .col-md-4.portfolio-grids
                    .grid
                      %a.swipebox{:href => "/assets/img1.jpg", :title => "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis maximus tortor diam, ac lobortis justo rutrum quis. Praesent non purus fermentum, eleifend velit non"}
                        %img.img-responsive{:alt => "", :src => "/assets/img1.jpg"}/
                        .figcaption
                          %h3
                            My
                            %span Project
                          %p Sarah likes to watch clouds. She's quite depressed.
                  .clearfix
              .tab-1.resp-tab-content
                .tab_img
                  .col-md-4.portfolio-grids
                    .grid
                      %a.swipebox{:href => "/assets/img1.jpg", :title => "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis maximus tortor diam, ac lobortis justo rutrum quis. Praesent non purus fermentum, eleifend velit non"}
                        %img.img-responsive{:alt => "", :src => "/assets/img1.jpg"}/
                        .figcaption
                          %h3
                            My
                            %span Project
                          %p Sarah likes to watch clouds. She's quite depressed.
                  .col-md-4.portfolio-grids
                    .grid
                      %a.swipebox{:href => "/assets/img1.jpg", :title => "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis maximus tortor diam, ac lobortis justo rutrum quis. Praesent non purus fermentum, eleifend velit non"}
                        %img.img-responsive{:alt => "", :src => "/assets/img1.jpg"}/
                        .figcaption
                          %h3
                            My
                            %span Project
                          %p Sarah likes to watch clouds. She's quite depressed.
                  .col-md-4.portfolio-grids
                    .grid
                      %a.swipebox{:href => "/assets/img1.jpg", :title => "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis maximus tortor diam, ac lobortis justo rutrum quis. Praesent non purus fermentum, eleifend velit non"}
                        %img.img-responsive{:alt => "", :src => "/assets/img1.jpg"}/
                        .figcaption
                          %h3
                            My
                            %span Project
                          %p Sarah likes to watch clouds. She's quite depressed.
                  .clearfix
        %script{:src => "/assets/easyResponsiveTabs.js", :type => "text/javascript"}
        :javascript
          $(document).ready(function () {
          	$('#horizontalTab').easyResponsiveTabs({
          		type: 'default', //Types: default, vertical, accordion           
          		width: 'auto', //auto or any width like 600px
          		fit: true   // 100% fit in a container
          	});
          });
        %script{:src => "/assets/jquery.swipebox.min.js"}
        :javascript
          jQuery(function($) {
          	$(".swipebox").swipebox();
          });
    #contact.welcome.contact
      .container
        %h3.title Contact Us
        .contact-row
          .col-md-6.contact-left
            %iframe{:src => "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d250261.21285550427!2d-60.42919264432581!3d46.13039392716506!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4b67ef033cc4082f%3A0xbf0517bb7d9ecd34!2sNorth+Sydney%2C+NS%2C+Canada!5e0!3m2!1sen!2sin!4v1460613320469"}
          .col-md-6.contact-right
            .address-left
              %p
                756 global Place, North Sydney,
                %br/
                FA-2305,Canada
            .address-right
              %p Call us :  +00 111 222 3333
              %p
                E-mail :
                %a{:href => "mailto:info@example.com"} mail@example.com
            .clearfix
            .contact-form
              %form{:action => "#", :method => "post"}
                %input{:name => "Name", :placeholder => "Name", :required => "", :type => "text"}/
                %input.email{:name => "Email", :placeholder => "Email", :required => "", :type => "text"}/
                %input.phone{:name => "phone", :placeholder => "Phone", :required => "", :type => "text"}/
                %textarea{:name => "Message", :placeholder => "Message", :required => ""}
                %input{:type => "submit", :value => "SUBMIT"}/
          .clearfix
    .footer
      .container
        %p
          © 2016 My Resume. All rights reserved | Design by
          %a{:href => "http://w3layouts.com"} W3layouts
    :javascript
      $(document).ready(function() {
      
      	var defaults = {
      		containerID: 'toTop', // fading element id
      		containerHoverID: 'toTopHover', // fading element hover id
      		scrollSpeed: 1200,
      		easingType: 'linear' 
      	};
      	
      	$().UItoTop({ easingType: 'easeOutQuart' });
      	
      });
    %script{:src => "/assets/bootstrap.js"}
